@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background: blue;
    --body_backtoggle: white;
    --body_color: white;
    --body_icon: white;
    --body_nav: rgb(25, 22, 217);
    --icon:black;
    --iconb:white;
  }
 
  [dark-theme="dark"]{
    --body_backtoggle: #282c30;
    --body_background: white;
    --body_color: white;
  
    --body_icon: white;
    --icon:white;
    --iconb:black;
  
  
  }

  .loading::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid rgb(98, 232, 98);
    border-right-color: #fff;
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
    
  }
