@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background: blue;
    --body_backtoggle: white;
    --body_color: white;
    --body_icon: white;
    --body_nav: rgb(25, 22, 217);
    --icon:black;
    --iconb:white;
  }
 
  [dark-theme="dark"]{
    --body_backtoggle: #626267;
    --body_background: white;
    --body_color: white;
  
    --body_icon: white;
    --icon:white;
    --iconb:black;
  
  
  }
  body{
    background-color: #282c30;
  }
  .bg-hover{
    background-color: rgb(0,0,0, .1);
  }
  .home{
    position: relative;
  }
  .home::after{
    content: '';
    position: absolute;
    top: 48px;
    height: 3.5px;
    width: 100%;
    left: 0px;
    background-color: red;
  }

  .about{
    position: relative;
  }
  .about::after{
    content: '';
    position: absolute;
    top: 48px;
    height: 3.5px;
    width: 100%;
    left: 0px;
    background-color: red;
  }
  .service{
    position: relative;
  }
  .service::after{
    content: '';
    position: absolute;
    top: 48px;
    height: 3.5px;
    width: 100%;
    left: 0px;
    background-color: red;
  }
  .more{
    position: relative;
  }
  .more::after{
    content: '';
    position: absolute;
    top: 48px;
    height: 3.5px;
    width: 100%;
    left: 0px;
    background-color: red;
  }
  .contact{
    position: relative;
  }
  .contact::after{
    content: '';
    position: absolute;
    top: 48px;
    height: 3.5px;
    width: 100%;
    left: 0px;
    background-color: red;
  }
  .rotate{
    rotate: 180deg;
    transform: translateY(-5px);
  }
  .bg-red{
    background-color: red;
    transition: all 2s ease-in-out;
  }
  .bg-red:hover{
    background-color: gray;
    color: white;
    transition: all 2s ease-in-out;

  }
  .text-red{
    background-color: transparent;
    color: red;
  }
  
.scrollb{
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.capt{
}
.icon{
  background-color: black;
  color: red;
}
.bg-free{

  background-color: rgb(23, 23, 23);
}
.container{
  position: relative;
}
.slider-wrapper{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.image{
  flex: 1 0 80%;
  translate: 38px;
  transition: 1s;
}

input{
  display: none;
}
.st{
  width: 20%;
  transition: 2s;
}
.nav-m{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  justify-content: center;
  display: flex;
}
.m-btn{
  border:  2px solid #fafafa;
  width: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  translate: -200px;
  transform: translateY(350px);
  cursor: pointer;
  transition: 1s;
}
.m-btn:not(:last-child){
  margin-right: 30px;
}
.m-btn:hover{
  background-color: #23e3c2;
}
#radio1:checked ~.first{
margin-left: -110%;
}
#radio2:checked ~.first{
margin-left: -140%;
}
#radio3:checked ~.first{
margin-left: -170%;
}
.nav-auto{
  position: absolute;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}
.nav-auto .image:not(:last-child){
  margin-right: 30px;
  justify-content: center;
}
#radio:checked ~ .nav-auto .a-b1{
  background-color: #23e3c2;
}
#radio:checked ~ .nav-auto .a-b2{
  background-color: #23e3c2;
}
#radio:checked ~ .nav-auto .a-b3{
  background-color: #23e3c2;
}